*{
    margin: 0;
    padding: 0;
}

main{
    overflow: hidden;
}

body{
    font-family: 'Commissioner', sans-serif;
    text-align: center;
    background-color: hsl(0, 0%, 97%);
    width: 100%;
}

/* /////////////////////// NAV /////////////////////// */
.navHead{
    background-image: url('./images/image-hero-mobile.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 2rem 2rem 22rem;
}

.nav-cont-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navHead h1{
    color: white;
}

.navHead img{
    width: 1.5rem;
}

.navHead img:hover{
    cursor: pointer;
}

/* //////////////Menu//////////////// */

.mobile-menu{
    background-color: white;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    width: 80%;
    margin: auto;
    margin-top: 10.5rem;
}

.full-mob-menu{
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background-color: rgba(0, 0, 0, 0.349);
    width: 100%;
    height: 435%;
    z-index: 1;
    display: none;
}

.full-mob-menu img{
    position: absolute;
    right: 0;
    margin-right: 2rem;
    margin-top: 2.3rem;
}

.full-mob-menu img:hover{
    cursor: pointer;
}

.mobile-menu ul{
    list-style: none;
}

.mobile-menu li{
    text-align: left;
    padding: 1.5rem;
}

.mobile-menu li:hover{
    color: hsl(0, 0%, 74%);
    cursor: pointer;
}

.mobile-menu hr{
    border-color: hsl(0, 0%, 87%);
    border-top: none;
    border-left: none;
}

/* ////////////////////// Header /////////////////// */

.header{
    width: 67%;
    padding: 2rem;
    background-color: white;
    position: absolute;
    top: 21.3rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    border: 1px solid hsl(0, 0%, 93%);
}

.header h2{
    margin: 1rem 2rem 0;
}

.header p{
    margin-top: 1.5rem;
    color: hsl(0, 0%, 48%);
    line-height: 1.5;
}

.header .headBtn{
    margin-top: 1.5rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.headBtn-div{
    display: flex;
    align-items: center;
}

.headBtn-div div{
    background-color: hsl(0, 0%, 95%);
    padding: 0.8rem 2rem 0.8rem 3rem;
    border-radius: 30px;
    position: absolute;
    display: none;
}

.headBtn-div div p{
    margin-top: 0;
    font-weight: 700;
    margin-left: 5px;
}

.header .headBtn-1{
    background-color: hsl(176, 50%, 47%);
    font-weight: 700;
    color: white;
    padding: 1rem 2.5rem;
    border-radius: 30px;
    border: none;
    font-size: 18px;
}

.header .headBtn-1:hover{
    cursor: pointer;
    background-color: hsl(176, 72%, 28%);
}

.header .headBtn-2{
    border: none;
    background-color: white;
}

.book circle:hover{
    fill: rgba(0, 0, 0, 0.562);
    cursor: pointer;
}

.book path:hover{
    cursor: pointer;
}

.header .logo{
    position: absolute;
    top: -1.7rem;
    left: 50%;
    transform: translateX(-50%);
}

/* ////////////////Data Block////////////////////// */

.data-block{
    width: 67%;
    padding: 2rem;
    background-color: white;
    position: absolute;
    top: 43rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    border: 1px solid hsl(0, 0%, 93%);
    z-index: -1;
}

.data-block h2{
    font-size: 36px;
    font-weight: 700;
    margin: 1rem 0 0.5rem;
}

.data-block p{
    color: hsl(0, 0%, 48%);
    margin-bottom: 1.5rem;
    font-size: 16px;
}

.data-block .hr-1{
    width: 27%;
    margin: auto;
    color: hsl(0, 0%, 48%);
    border-top: none;
    border-left: none;
    border-bottom-width: 2px;
}

.data-block .prog-cont{
    background-color: hsl(0, 0%, 95%);
    border-radius: 20px;
}

.data-block .prog-bar{
    background-color: hsl(176, 50%, 47%);
    padding: 6px;
    border-radius: 20px;
    width: 80%;
}

/* ////////////////About //////////////// */

.about{
    width: 67%;
    margin: 44rem auto 5rem;
    padding: 2rem;
    background-color: white;
    border-radius: 10px;
    border: 1px solid hsl(0, 0%, 93%);
}

.about h2{
    text-align: left;
    margin-bottom: 2rem;
    font-size: 22px;
    font-weight: 700;
}

.about p{
    color: hsl(0, 0%, 48%);
    line-height: 2;
    text-align: left;
    margin-bottom: 1.5rem;
}

/* //////////////// Card /////////////// */

.card{
    padding: 1.6rem;
    background-color: white;
    border-radius: 10px;
    border: 1px solid hsl(0, 0%, 74%);
    text-align: left;
    margin-bottom: 1.5rem;
}

.card1-top input, .card2-top input{
    margin-right: 1rem;    
}

input[type="radio"]{
    appearance: none;
    background-color: white;
    border: 1px solid rgba(94, 94, 94, 0.5);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
}

input[type="radio"]:checked{
    box-shadow: inset 0 0 0 4.5px #fff;
    background-color: hsl(176, 50%, 47%);
}

input[type="radio"]:hover{
    border: 1px solid hsl(176, 50%, 47%);
}

.card .card-head{
    font-weight: 700;
    color: black;
    margin-bottom: 0;
}

.card .card-pledge{
    font-weight: 500;
    color: hsl(176, 50%, 47%);
    margin-bottom: 1rem;
}

.card .card-detail{
    font-size: 16px;
    line-height: 2;
    margin-bottom: 0.5rem;
}

.card .qty{
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
}

.card .qty span{
    font-size: 36px;
    font-weight: 700;
    color: black;
    padding-right: 10px;
}

.card button{
    background-color: hsl(176, 50%, 47%);
    font-weight: 700;
    color: white;
    padding: 1rem 2.5rem;
    border-radius: 30px;
    border: none;
    font-size: 16px;
}

.card button:hover{
    cursor: pointer;
    background-color: hsl(176, 72%, 28%);
}

.card-price{
    margin-top: 1rem;
    border-top: 2px solid hsl(0, 0%, 87%);
    padding-top: 2rem;
    margin: auto;
    display: none;
}

.modal-pop .card-price p{
    text-align: center;
}

.card-price p{
    margin-bottom: 1rem;
}

.card-price-sel{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-price-sel div{
    position: relative;
}

.card-price-sel div label{
    position: absolute;
    color: hsl(0, 0%, 74%);
    font-weight: 700;
    left: 1.7rem;
    margin-top: 1rem;
}

.card-price-sel input{
    margin: auto;
    width: 5rem;
    padding: 1rem;
    text-align: center;
    border: 2px solid hsl(0, 0%, 74%);
    border-radius: 40px;
    font-size: 16px;
    font-weight: 700;
    caret-color: hsl(176, 50%, 47%);
}

.card-price-sel input:focus{
    outline: none;
    border: 2px solid hsl(176, 50%, 47%);
}

.modal-pop .card1-top{
    position: relative;
}

.modal-pop .card1-top input{
    margin-top: 1rem;
}

.modal-pop .card1-top .c1t-1{
    position: absolute;
    left: 2.5rem;
    top: -1rem;
}

.modal-pop .card1-top .c1t-2{
    position: absolute;
    left: 2.5rem;
    top: 0.5rem;
}

.modal-pop .card-detail{
    margin-top: 2rem;
}

/* ///////////////// Card 2 //////////// */

.card2{
    padding: 1.6rem;
    background-color: white;
    border-radius: 10px;
    border: 2px solid hsl(0, 0%, 74%);
    text-align: left;
    margin-bottom: 1.5rem;
    opacity: 50%;
}

.card2 .card2-head{
    font-weight: 700;
    color: black;
    margin-bottom: 0;
}

.card2 .card2-pledge{
    font-weight: 500;
    color: hsl(176, 50%, 47%);
    margin-bottom: 1rem;
}

.card2 .card2-detail{
    font-size: 16px;
    line-height: 2;
    margin-bottom: 0.5rem;
}

.card2 .qty2{
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
}

.card2 .qty2 span{
    font-size: 36px;
    font-weight: 700;
    color: black;
    padding-right: 10px;
}

.card2 button{
    background-color: hsl(0, 0%, 64%);
    font-weight: 700;
    color: white;
    padding: 1rem 2.5rem;
    border-radius: 30px;
    border: none;
    font-size: 16px;
}

/* ////////////////////Thank You//////////////// */

.full-thanks{
    top: 0;
    padding-top: 10rem;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.349);
    width: 100%;
    height: 435%;
    /* display: none; */
}

.thanks{
    background-color: white;
    width: 67%;
    margin: auto;
    padding: 2rem;
    border-radius: 10px;
}

.thanks img{
    margin-bottom: 1.5rem;
}

.thanks h2{
    font-size: 22px;
    margin-bottom: 2rem;
}

.thanks p{
    color: hsl(0, 0%, 48%);
    line-height: 2;
    margin-bottom: 1.5rem;
    font-weight: 500;
}

.thanks button{
    background-color: hsl(176, 50%, 47%);
    font-weight: 700;
    color: white;
    padding: 1rem 2.5rem;
    border-radius: 30px;
    border: none;
    font-size: 16px;
}

.thanks button:hover{
    cursor: pointer;
    background-color: hsl(176, 72%, 28%);
}

/* /////////////////Modal Pop///////////////// */

.full-modal{
    top: 0;
    padding-top: 10rem;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.349);
    width: 100%;
    height: 435%;
    display: none;
}

.modal-pop{
    background-color: white;
    padding: 2rem;
    width: 67%;
    margin: auto;
    border-radius: 10px;
}

.modal-pop .modal-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.modal-pop .modal-head h2{
    font-size: 22px;
}

.modal-pop p{
    text-align: left;
    color: hsl(0, 0%, 64%);
    font-weight: 500;
    line-height: 1.7;
}

.modal-head img:hover{
    cursor: pointer;
}

/* ///////////////////Modal Card//////////////////// */

.card-modal{
    margin: 1.5rem auto;
    text-align: left;
    border: 2px solid hsl(0, 0%, 74%);
    border-radius: 10px;
    padding: 2rem;
}

.card-modal div{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1rem;
}

.card-modal input{
    margin-right: 1rem;
}

.card-modal label{
    font-size: 16px;
    font-weight: 700;
}

/* //////////////////////////////////Desktop Design/////////////////////////////// */

@media (min-width: 400px) {

    .full-mob-menu{
        height: 435%;
    }

    .full-modal{
        height: 420%;
    }
}

@media (min-width: 550px) {
    
    .full-mob-menu{
        height: 420%;
    }

    .full-modal{
        height: 400%;
    }
}

@media (min-width: 694px) {
    
    .data-block{
        top: 41rem;
    }

    .full-mob-menu{
        height: 390%;
    }

    .about{
        margin-top: 42rem;
    }

    .thanks{
        width: 50%;
    }

    .full-modal{
        height: 390%;
    }
}

@media (min-width: 770px) {
    
    .data-block{
        top: 40rem;
    }

    .full-mob-menu{
        height: 390%;
    }

    .about{
        margin-top: 41rem;
    }

    .full-modal{
        height: 370%;
    }
}

@media (min-width: 950px) {
    
    .full-modal{
        height: 350%;
    }
}

@media (min-width: 1280px) {
    
    .nav-menu-area ul{
        display: flex !important;
        justify-content: space-between;
        list-style: none;
        color: white;
        font-weight: 700;
        
    }

    .nav-menu-area li{
        margin-left: 3rem;
    }

    .nav-menu-area li:hover{
        color: hsl(0, 0%, 74%);
        cursor: pointer;
    }

    .nav-cont-1{
        padding: 0 4rem;
    }

    .nav-menu-area img{
        display: none !important;
    }

    .headBtn-2{
        border-radius: 50%;
    }

    .headBtn-div{
        margin-right: 8rem;
    }

    .headBtn-div div{
        z-index: -1;
        margin-left: 1rem;
        top: 10.5rem;
        display: block;
    }

    .navHead{
        background: url("./images/image-hero-desktop.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .data-block{
        top: 40rem;
    }

    .data-b{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .data-b .hr-1{
        transform: rotate(90deg);
        width: 5rem;
        position: absolute;
        margin-left: 10rem;
        top: 5rem;
    }

    .about{
        margin-top: 27rem;
    }

    .card1-top{
        display: flex;
        justify-content: space-between;
    }

    .card1-bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .card2-top{
        display: flex;
        justify-content: space-between;
    }

    .card2-bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .thanks{
        margin-top: 20rem;
        width: 40%;
    }

    .modal-pop{
        max-width: 800px;
        margin-top: 5rem;
    }

    .modal-pop .card1-top .c1t-1{
        margin-top: 0.8rem;
        position: static;
    }

    .modal-pop .card1-top .c1t-2{
        margin-top: 0.8rem;
        position: static;
    }

    .modal-pop .card1-top{
        justify-content: flex-start;
    }

    .modal-pop .card-detail{
        margin-top: 0;
    }

    .modal-pop .card1-top div{
        margin-right: 1rem;
    }

    .modal-pop .card2-top{
        justify-content: flex-start;
    }

    .modal-pop .card{
        position: relative;
    }

    .modal-pop .card2{
        position: relative;
    }

    .modal-pop .card2-top div{
        margin-right: 1rem;
    }

    .modal-pop .card1-bottom{
        position: absolute;
        right: 2rem;
        top: 1.3rem;
    }

    .modal-pop .card-price{
        position: relative;
        margin-top: 1rem;
        padding-top: 1rem;
    }

    .modal-pop .card-price p{
        position: absolute;
    }

    .modal-pop .card-price div{
        display: flex;
        justify-content: flex-end;
    }

    .modal-pop .card-price input{
        margin-right: 1rem;
    }

    .modal-pop .card-price p{
        margin-top: 1rem;
        text-align: left;
    }

    .modal-pop .card2-bottom{
        position: absolute;
        right: 2rem;
        top: 0.3rem;
    }

    .full-mob-menu{
        display: none !important;
    }

    .full-modal{
        height: 280%;
    }
}